In [146]:
import pandas as pd
import numpy as np

In [147]:
xl1 = pd.read_csv('data_cleaned/modelSource.csv', index_col=0)
xl2 = pd.read_csv('data_raw/ages_historical.csv', index_col=0)

In [148]:
df1 = xl1[['player', 'season', 'week', 'team', 'pos']]
df2 = xl2[['Player', 'Season', 'Age']]

In [149]:
df1 = df1.drop_duplicates(subset=['player', 'season', 'team', 'pos'])
df2 = df2.drop_duplicates(['Player', 'Season'])

In [150]:
complete = df1.merge(df2, how='left', left_on=['player', 'season'], right_on=['Player', 'Season'])
complete

,player,season,week,team,pos,Player,Season,Age
0,Matt Ryan,2012.0,1.0,ATL,QB,Matt Ryan,2012.0,27.0
1,Tony Romo,2012.0,1.0,DAL,QB,Tony Romo,2012.0,32.0
2,Robert Griffin III,2012.0,1.0,WAS,QB,Robert Griffin III,2012.0,22.0
3,Drew Brees,2012.0,1.0,NOS,QB,Drew Brees,2012.0,33.0
4,Aaron Rodgers,2012.0,1.0,GBP,QB,Aaron Rodgers,2012.0,29.0
...,...,...,...,...,...,...,...,...
7403,Cleveland BrownsCLE,2021.0,1.0,CLE,DF,NaN,NaN,NaN
7404,Chicago BearsCHI,2021.0,1.0,CHI,DF,NaN,NaN,NaN
7405,Jacksonville JaguarsJAX,2021.0,1.0,JAX,DF,NaN,NaN,NaN
7406,Atlanta FalconsATL,2021.0,1.0,ATL,DF,NaN,NaN,NaN
7407,Green Bay PackersGB,2021.0,1.0,GBP,DF,NaN,NaN,NaN

In [151]:
complete.loc[complete['pos']=='DF', 'Age'] = 0

In [152]:
complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7408 entries, 0 to 7407
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  7408 non-null   object
 1   season  7408 non-null   float64
 2   week    7408 non-null   float64
 3   team    7408 non-null   object
 4   pos     7408 non-null   object
 5   Player  7034 non-null   object
 6   Season  7034 non-null   float64
 7   Age     7354 non-null   float64
dtypes: float64(4), object(4)
memory usage: 520.9+ KB

In [153]:
complete.loc[complete['Age'].isnull()]['player'].unique()

array(['E.J. Manuel', 'Phillip Walker', 'Greg Howell', 'Kerrith Whyte',
       'Lester Jean', 'Edmond Gates', 'Joshua Cribbs', 'Joseph Morgan',
       'Devon Wylie', 'Devin Hester', 'Greg Jenkins', 'Walter Powell',
       'Isaiah Burse', 'Matt Slater', 'Jesus Wilson', 'J.J. Jones',
       'Riley McCarron', "D'haquille Williams", 'John Franklin III',
       'Travis Benjamin', 'Benjamin Watson', 'Timothy Wright',
       'Harold Hoskins', 'Henry Krieger Coble'], dtype=object)

In [154]:
complete = complete.drop(columns=['Player', 'Season'])
complete = complete.dropna()

In [156]:
complete.to_csv('data_cleaned/modelAges.csv')

In [157]:
complete.loc[complete['player']=='Miami DolphinsMIA']

                 player  season  week team pos  Age
7107  Miami DolphinsMIA  2012.0   1.0  MIA  DF  0.0
7122  Miami DolphinsMIA  2013.0   1.0  MIA  DF  0.0
7157  Miami DolphinsMIA  2014.0   1.0  MIA  DF  0.0
7189  Miami DolphinsMIA  2015.0   1.0  MIA  DF  0.0
7218  Miami DolphinsMIA  2016.0   1.0  MIA  DF  0.0
7279  Miami DolphinsMIA  2017.0   2.0  MIA  DF  0.0
7287  Miami DolphinsMIA  2018.0   1.0  MIA  DF  0.0
7339  Miami DolphinsMIA  2019.0   1.0  MIA  DF  0.0
7364  Miami DolphinsMIA  2020.0   1.0  MIA  DF  0.0
7386  Miami DolphinsMIA  2021.0   1.0  MIA  DF  0.0