In [39]:
import pandas as pd
import numpy as np

In [5]:
xl1 = pd.read_csv('data_cleaned/modelSource.csv', index_col=0)
xl2 = pd.read_csv('data_raw/ages_historical.csv', index_col=0)

In [50]:
df1 = xl1[['player', 'season', 'week', 'team', 'pos']]
df2 = xl2[['Player', 'Season', 'Age']]

In [51]:
df1 = df1.drop_duplicates(subset=['player', 'season', 'team', 'pos'])
df2 = df2.drop_duplicates(['Player', 'Season'])

In [58]:
complete = df1.merge(df2, how='left', left_on=['player', 'season'], right_on=['Player', 'Season'])
complete

,player,season,week,team,pos,Player,Season,Age
0,Matt Ryan,2012.0,1.0,ATL,QB,Matt Ryan,2012.0,27.0
1,Tony Romo,2012.0,1.0,DAL,QB,Tony Romo,2012.0,32.0
2,Robert Griffin III,2012.0,1.0,WAS,QB,Robert Griffin III,2012.0,22.0
3,Drew Brees,2012.0,1.0,NOS,QB,Drew Brees,2012.0,33.0
4,Aaron Rodgers,2012.0,1.0,GBP,QB,Aaron Rodgers,2012.0,29.0
...,...,...,...,...,...,...,...,...
7403,Cleveland BrownsCLE,2021.0,1.0,CLE,DF,NaN,NaN,NaN
7404,Chicago BearsCHI,2021.0,1.0,CHI,DF,NaN,NaN,NaN
7405,Jacksonville JaguarsJAX,2021.0,1.0,JAX,DF,NaN,NaN,NaN
7406,Atlanta FalconsATL,2021.0,1.0,ATL,DF,NaN,NaN,NaN
7407,Green Bay PackersGB,2021.0,1.0,GBP,DF,NaN,NaN,NaN

In [59]:
complete.loc[complete['pos']=='DF', 'Age'] = 0

In [61]:
complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7408 entries, 0 to 7407
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  7408 non-null   object
 1   season  7408 non-null   float64
 2   week    7408 non-null   float64
 3   team    7408 non-null   object
 4   pos     7408 non-null   object
 5   Player  6906 non-null   object
 6   Season  6906 non-null   float64
 7   Age     7226 non-null   float64
dtypes: float64(4), object(4)
memory usage: 520.9+ KB

In [65]:
complete.loc[complete['Age'].isnull()]['player'].unique()

array(['Josh Johnson', 'E.J. Manuel', 'Nick Foles', 'Gardner Minshew',
       'Phillip Walker', 'D.J. Ware', 'Alexander Green', 'Brit Miller',
       'Marcus Thigpen', 'Raheem Mostert', 'Rob Kelley', 'Dan Vitale',
       'George Atkinson III', 'Matt Dayes', 'Jeffery Wilson',
       'Derrick Henry', 'Benjamin Snell', 'Corey Clement', 'Greg Howell',
       'Kerrith Whyte', 'Lamical Perine', 'Anthony McFarland',
       'JaMycal Hasty', 'Kenny Gainwell', 'Nate Cottrell',
       'Stevie Johnson', 'Lester Jean', 'Edmond Gates', 'Joshua Cribbs',
       'Joseph Morgan', 'Devon Wylie', 'Devin Hester', 'Greg Jenkins',
       'Philly Brown', 'Walter Powell', 'Isaiah Burse', 'J.J. Nelson',
       'Denarius Moore', 'Jacoby Jones', 'Frankie Hammond', 'Matt Slater',
       'Keshawn Martin', 'Kalif Raymond', 'JoJo Natson', 'Jesus Wilson',
       'Kaelin Clay', 'J.J. Jones', 'Riley McCarron', 'D.J. Chark',
       'Ray Ray McCloud', 'Khadarel Hodge', 'J.J. Arcega-Whiteside',
       "D'haquille Williams", 'Stanley Morgan', 'Cedrick Wilson',
       'Greg Dortch', 'John Franklin III', 'Laviska Shenault',
       'Henry Ruggs', 'Michael Pittman', 'Lynn Bowden', 'Nick Westbrook',
       'DeMichael Harris', 'Dwayne Harris', 'Nsimba Webster',
       'Terrace Marshall', 'Bennett Skowronek', 'J.J. Koski',
       'Travis Benjamin', 'Benjamin Watson', 'Timothy Wright',
       'Harold Hoskins', 'Henry Krieger Coble', 'Chris Herndon IV',
       'John Mundt', 'Irv Smith', 'Samuel Sloman', 'Jake Elliott'],
      dtype=object)

In [120]:
complete.loc[complete['player']=="Cedrick Wilson"]

              player  season  week team pos Player  Season  Age
4658  Cedrick Wilson  2019.0   6.0  DAL  WR    NaN     NaN  NaN
4881  Cedrick Wilson  2020.0   3.0  DAL  WR    NaN     NaN  NaN
5087  Cedrick Wilson  2021.0   1.0  DAL  WR    NaN     NaN  NaN

In [68]:
#complete = complete.drop(columns=['Player', 'Season'])
#complete = complete.dropna()

In [49]:
len(df1)

7408