In [2]:
import pandas as pd
# Dates
from datetime import datetime, date
from dateutil.relativedelta import *

In [19]:

# Rushing data
# Read csv
xl1 = pd.read_csv("data_raw/Career_Stats_Rushing.csv")

# Initial cleaning
filtered = xl1[['Player Id', 'Team', 'Year', 'Position', 
                'Rushing Attempts', 'Rushing TDs', 'Rushing Yards', 'Games Played']]
filtered = filtered.rename(columns={'Player Id':'playerID', 'Team':'team', 'Year':'year', 'Position':'pos', 
                'Rushing Attempts':'rushA', 'Rushing TDs':'rushTD', 'Rushing Yards':'rushY', 'Games Played':'rushGP'})
columnList = ['playerID', 'team', 'year', 'pos', 'rushA', 'rushTD', 'rushY', 'rushGP']
# Remove null values
filtered = filtered[~filtered['rushA'].str.contains("--")]
filtered = filtered[~filtered['rushTD'].str.contains("--")]
filtered = filtered[~filtered['rushY'].str.contains("--")]
# Clean commas from numbers
filtered['rushA'] = filtered['rushA'].str.replace(',', '').astype(int)
filtered['rushTD'] = filtered['rushTD'].str.replace(',', '').astype(int)
filtered['rushY'] = filtered['rushY'].str.replace(',', '').astype(int)
# Filter for only those who completed a rushing attempt
filtered = filtered[filtered['rushA']>0]
# Filter for only recent era
filtered = filtered[filtered['year']>=1979]
# Set position
filtered['pos'] = 'RB'

rush_filtered = filtered
rush_filtered.head()

,playerID,team,year,pos,rushA,rushTD,rushY,rushGP
5,bobbyfowler/2514295,New Orleans Saints,1985,RB,2,0,4,10
7,quinnjohnson/79593,Tennessee Titans,2012,RB,4,0,5,16
16,joeadams/2532782,Carolina Panthers,2012,RB,3,0,13,9
23,clarenceverdin/2503464,Indianapolis Colts,1993,RB,3,0,33,16
25,clarenceverdin/2503464,Indianapolis Colts,1991,RB,1,0,4,16

In [20]:
# Receiving data
# Read csv
xl1 = pd.read_csv("data_raw/Career_Stats_Receiving.csv")

# Initial cleaning
filtered = xl1[['Player Id', 'Team', 'Year', 'Position', 
                'Receptions', 'Receiving TDs', 'Receiving Yards', 'Games Played']]
filtered = filtered.rename(columns={'Player Id':'playerID', 'Team':'team', 'Year':'year', 'Position':'pos', 
                'Receptions':'passA', 'Receiving TDs':'passTD', 'Receiving Yards':'passY', 'Games Played':'passGP'})
columnList = ['playerID', 'team', 'year', 'pos', 'passA', 'passTD', 'passY', 'passGP']
# Remove null values
filtered = filtered[~filtered['passA'].str.contains("--")]
filtered = filtered[~filtered['passTD'].str.contains("--")]
filtered = filtered[~filtered['passY'].str.contains("--")]
# Clean commas from numbers
filtered['passA'] = filtered['passA'].str.replace(',', '').astype(int)
filtered['passTD'] = filtered['passTD'].str.replace(',', '').astype(int)
filtered['passY'] = filtered['passY'].str.replace(',', '').astype(int)
# Filter for only those who completed a passing attempt
filtered = filtered[filtered['passA']>0]
# Filter for only recent era
filtered = filtered[filtered['year']>=1979]
# Set position
filtered['pos'] = 'WR'

rec_filtered = filtered
rec_filtered.head()

,playerID,team,year,pos,passA,passTD,passY,passGP
5,bobbyfowler/2514295,New Orleans Saints,1985,WR,5,0,43,10
7,quinnjohnson/79593,Tennessee Titans,2012,WR,5,0,40,16
8,quinnjohnson/79593,Tennessee Titans,2011,WR,3,0,30,4
10,quinnjohnson/79593,Green Bay Packers,2010,WR,3,0,26,11
11,quinnjohnson/79593,Green Bay Packers,2009,WR,2,0,4,9

In [21]:
# Passing data
# Read csv
xl1 = pd.read_csv("data_raw/Career_Stats_Passing.csv")

# Initial cleaning
filtered = xl1[['Player Id', 'Team', 'Year', 'Position', 
                'Passes Attempted', 'TD Passes', 'Passing Yards', 'Games Played']]
filtered = filtered.rename(columns={'Player Id':'playerID', 'Team':'team', 'Year':'year', 'Position':'pos', 
                'Passes Attempted':'passA', 'TD Passes':'passTD', 'Passing Yards':'passY', 'Games Played':'passGP'})
columnList = ['playerID', 'team', 'year', 'pos', 'passA', 'passTD', 'passY', 'passGP']
# Remove null values
filtered = filtered[~filtered['passA'].str.contains("--")]
filtered = filtered[~filtered['passTD'].str.contains("--")]
filtered = filtered[~filtered['passY'].str.contains("--")]
# Clean commas from numbers
filtered['passA'] = filtered['passA'].str.replace(',', '').astype(int)
filtered['passTD'] = filtered['passTD'].str.replace(',', '').astype(int)
filtered['passY'] = filtered['passY'].str.replace(',', '').astype(int)
# Filter for only those who completed a passing attempt
filtered = filtered[filtered['passA']>0]
# Filter for only recent era
filtered = filtered[filtered['year']>=1979]
# Set position
filtered['pos'] = 'QB'

pass_filtered = filtered
pass_filtered.head()

,playerID,team,year,pos,passA,passTD,passY,passGP
16,tomsavage/2543640,Houston Texans,2016,QB,73,0,461,3
17,tomsavage/2543640,Houston Texans,2014,QB,19,0,127,2
21,tommymaddox/2501842,Pittsburgh Steelers,2005,QB,71,2,406,4
22,tommymaddox/2501842,Pittsburgh Steelers,2004,QB,60,1,329,4
23,tommymaddox/2501842,Pittsburgh Steelers,2003,QB,519,18,3414,16