In [2]:
import pandas as pd
# Dates
from datetime import datetime, date
from dateutil.relativedelta import *

In [19]:

# Rushing data
# Read csv
xl1 = pd.read_csv("data_raw/Career_Stats_Rushing.csv")

# Initial cleaning
filtered = xl1[['Player Id', 'Team', 'Year', 'Position', 
                'Rushing Attempts', 'Rushing TDs', 'Rushing Yards', 'Games Played']]
filtered = filtered.rename(columns={'Player Id':'playerID', 'Team':'team', 'Year':'year', 'Position':'pos', 
                'Rushing Attempts':'rushA', 'Rushing TDs':'rushTD', 'Rushing Yards':'rushY', 'Games Played':'rushGP'})
columnList = ['playerID', 'team', 'year', 'pos', 'rushA', 'rushTD', 'rushY', 'rushGP']
# Remove null values
filtered = filtered[~filtered['rushA'].str.contains("--")]
filtered = filtered[~filtered['rushTD'].str.contains("--")]
filtered = filtered[~filtered['rushY'].str.contains("--")]
# Clean commas from numbers
filtered['rushA'] = filtered['rushA'].str.replace(',', '').astype(int)
filtered['rushTD'] = filtered['rushTD'].str.replace(',', '').astype(int)
filtered['rushY'] = filtered['rushY'].str.replace(',', '').astype(int)
# Filter for only those who completed a rushing attempt
filtered = filtered[filtered['rushA']>0]
# Filter for only recent era
filtered = filtered[filtered['year']>=1979]
# Set position
filtered['pos'] = 'RB'

rush_filtered = filtered
rush_filtered.head()

,playerID,team,year,pos,rushA,rushTD,rushY,rushGP
5,bobbyfowler/2514295,New Orleans Saints,1985,RB,2,0,4,10
7,quinnjohnson/79593,Tennessee Titans,2012,RB,4,0,5,16
16,joeadams/2532782,Carolina Panthers,2012,RB,3,0,13,9
23,clarenceverdin/2503464,Indianapolis Colts,1993,RB,3,0,33,16
25,clarenceverdin/2503464,Indianapolis Colts,1991,RB,1,0,4,16

In [27]:
# Receiving data
# Read csv
xl1 = pd.read_csv("data_raw/Career_Stats_Receiving.csv")

# Initial cleaning
filtered = xl1[['Player Id', 'Team', 'Year', 'Position', 
                'Receptions', 'Receiving TDs', 'Receiving Yards', 'Games Played']]
filtered = filtered.rename(columns={'Player Id':'playerID', 'Team':'team', 'Year':'year', 'Position':'pos', 
                'Receptions':'recA', 'Receiving TDs':'recTD', 'Receiving Yards':'recY', 'Games Played':'recGP'})
columnList = ['playerID', 'team', 'year', 'pos', 'recA', 'recTD', 'recY', 'recGP']
# Remove null values
filtered = filtered[~filtered['recA'].str.contains("--")]
filtered = filtered[~filtered['recTD'].str.contains("--")]
filtered = filtered[~filtered['recY'].str.contains("--")]
# Clean commas from numbers
filtered['recA'] = filtered['recA'].str.replace(',', '').astype(int)
filtered['recTD'] = filtered['recTD'].str.replace(',', '').astype(int)
filtered['recY'] = filtered['recY'].str.replace(',', '').astype(int)
# Filter for only those who completed a recing attempt
filtered = filtered[filtered['recA']>0]
# Filter for only recent era
filtered = filtered[filtered['year']>=1979]
# Set position
filtered['pos'] = 'WR'

rec_filtered = filtered
rec_filtered.head()

,playerID,team,year,pos,recA,recTD,recY,recGP
5,bobbyfowler/2514295,New Orleans Saints,1985,WR,5,0,43,10
7,quinnjohnson/79593,Tennessee Titans,2012,WR,5,0,40,16
8,quinnjohnson/79593,Tennessee Titans,2011,WR,3,0,30,4
10,quinnjohnson/79593,Green Bay Packers,2010,WR,3,0,26,11
11,quinnjohnson/79593,Green Bay Packers,2009,WR,2,0,4,9

In [28]:
# Passing data
# Read csv
xl1 = pd.read_csv("data_raw/Career_Stats_Passing.csv")

# Initial cleaning
filtered = xl1[['Player Id', 'Team', 'Year', 'Position', 
                'Passes Attempted', 'TD Passes', 'Passing Yards', 'Games Played']]
filtered = filtered.rename(columns={'Player Id':'playerID', 'Team':'team', 'Year':'year', 'Position':'pos', 
                'Passes Attempted':'passA', 'TD Passes':'passTD', 'Passing Yards':'passY', 'Games Played':'passGP'})
columnList = ['playerID', 'team', 'year', 'pos', 'passA', 'passTD', 'passY', 'passGP']
# Remove null values
filtered = filtered[~filtered['passA'].str.contains("--")]
filtered = filtered[~filtered['passTD'].str.contains("--")]
filtered = filtered[~filtered['passY'].str.contains("--")]
# Clean commas from numbers
filtered['passA'] = filtered['passA'].str.replace(',', '').astype(int)
filtered['passTD'] = filtered['passTD'].str.replace(',', '').astype(int)
filtered['passY'] = filtered['passY'].str.replace(',', '').astype(int)
# Filter for only those who completed a passing attempt
filtered = filtered[filtered['passA']>0]
# Filter for only recent era
filtered = filtered[filtered['year']>=1979]
# Set position
filtered['pos'] = 'QB'

pass_filtered = filtered
pass_filtered.head()

,playerID,team,year,pos,passA,passTD,passY,passGP
16,tomsavage/2543640,Houston Texans,2016,QB,73,0,461,3
17,tomsavage/2543640,Houston Texans,2014,QB,19,0,127,2
21,tommymaddox/2501842,Pittsburgh Steelers,2005,QB,71,2,406,4
22,tommymaddox/2501842,Pittsburgh Steelers,2004,QB,60,1,329,4
23,tommymaddox/2501842,Pittsburgh Steelers,2003,QB,519,18,3414,16

In [47]:
#annual_complete = rush_filtered.merge(rec_filtered, on=['playerID', 'team', 'year'], how='outer').merge(pass_filtered, on=['playerID', 'team', 'year'], how='outer')
#annual_complete['passA'] = annual_complete['passA_x'] + annual_complete['passA_y']
annual_complete = pd.concat([rush_filtered, rec_filtered, pass_filtered]).groupby(['playerID', 'team', 'year']).sum().reset_index()
annual_complete

,playerID,team,year,rushA,rushTD,rushY,rushGP,recA,recTD,recY,recGP,passA,passTD,passY,passGP
0,'omarellison/2500540,San Diego Chargers,1995,0.0,0.0,0.0,0.0,1.0,0.0,6.0,2.0,0.0,0.0,0.0,0.0
1,'omarellison/2500540,San Diego Chargers,1996,0.0,0.0,0.0,0.0,3.0,0.0,15.0,10.0,0.0,0.0,0.0,0.0
2,a.j.derby/2552580,Denver Broncos,2016,0.0,0.0,0.0,0.0,16.0,0.0,160.0,6.0,0.0,0.0,0.0,0.0
3,a.j.feeley/2504566,Miami Dolphins,2004,14.0,1.0,13.0,11.0,0.0,0.0,0.0,0.0,356.0,11.0,1893.0,11.0
4,a.j.feeley/2504566,Philadelphia Eagles,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,143.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11202,zeronflemister/2504039,Washington Redskins,2002,0.0,0.0,0.0,0.0,10.0,2.0,146.0,15.0,0.0,0.0,0.0,0.0
11203,zeronflemister/2504039,Washington Redskins,2003,0.0,0.0,0.0,0.0,9.0,0.0,89.0,12.0,0.0,0.0,0.0,0.0
11204,zoladavis/2500341,Cleveland Browns,1999,0.0,0.0,0.0,0.0,2.0,0.0,38.0,6.0,0.0,0.0,0.0,0.0
11205,zurlontipton/2550407,Indianapolis Colts,2014,10.0,0.0,18.0,6.0,6.0,1.0,68.0,6.0,0.0,0.0,0.0,0.0
11206,zurlontipton/2550407,Indianapolis Colts,2015,5.0,0.0,20.0,10.0,5.0,0.0,57.0,10.0,0.0,0.0,0.0,0.0

In [48]:
print(len(rush_filtered))
print(len(rec_filtered))
print(len(pass_filtered))
print(len(annual_complete))

6775
8755
2310
11207

In [86]:

columnListA = ['CrushA', 'CrushTD', 'CrushY'#, 'CrushGP', 'CrecA', 'CrecTD', 'CrecY', 'CrecGP', 'CpassA', 'CpassTD', 'CpassY', 'CpassGP'
]
columnListB = ['rushA', 'rushTD', 'rushY'#, 'rushGP', 'recA', 'recTD', 'recY', 'recGP', 'passA', 'passTD', 'passY', 'passGP'
]
columnList = zip(columnListA, columnListB)
for x in columnListA:
    career[x] = 0

<class 'str'> rushA
<class 'str'> rushTD
<class 'str'> rushY

In [109]:

career = annual_complete.set_index(["playerID", 'year'], append=False, drop=True)
columnListA = ['CrushA', 'CrushTD', 'CrushY', 'CrushGP', 'CrecA', 'CrecTD', 'CrecY', 'CrecGP', 'CpassA', 'CpassTD', 'CpassY', 'CpassGP']
columnListB = ['rushA', 'rushTD', 'rushY', 'rushGP', 'recA', 'recTD', 'recY', 'recGP', 'passA', 'passTD', 'passY', 'passGP']
#columnList = zip(columnListA, columnListB)
#for x in columnListA:
#    career[x] = 0

for i in range(len(annual_complete)):
    player = annual_complete.iloc[i]['playerID']
    year = annual_complete.iloc[i]['year']
    career_selected = annual_complete[annual_complete['playerID']==player]
    career_selected = career_selected[career_selected['year'] < year]
    columnList = zip(columnListA, columnListB)
    for j, k in columnList:
        career.loc[(player, year), j] = career_selected[k].sum()
        #print(j, k)
#print(career_selected['rushY'].sum())
#print(player, year)
career = career.fillna(0)
career

/Users/travisharry/opt/anaconda3/envs/ffpred/lib/python3.7/site-packages/IPython/core/async_helpers.py:78: PerformanceWarning: indexing past lexsort depth may impact performance.
  coro.send(None)

                                            team  rushA  rushTD  rushY  \
playerID               year
'omarellison/2500540   1995   San Diego Chargers    0.0     0.0    0.0
                       1996   San Diego Chargers    0.0     0.0    0.0
a.j.derby/2552580      2016       Denver Broncos    0.0     0.0    0.0
a.j.feeley/2504566     2004       Miami Dolphins   14.0     1.0   13.0
                       2001  Philadelphia Eagles    0.0     0.0    0.0
...                                          ...    ...     ...    ...
zeronflemister/2504039 2002  Washington Redskins    0.0     0.0    0.0
                       2003  Washington Redskins    0.0     0.0    0.0
zoladavis/2500341      1999     Cleveland Browns    0.0     0.0    0.0
zurlontipton/2550407   2014   Indianapolis Colts   10.0     0.0   18.0
                       2015   Indianapolis Colts    5.0     0.0   20.0

                             rushGP  recA  recTD   recY  recGP  passA  ...  \
playerID               year                                            ...
'omarellison/2500540   1995     0.0   1.0    0.0    6.0    2.0    0.0  ...
                       1996     0.0   3.0    0.0   15.0   10.0    0.0  ...
a.j.derby/2552580      2016     0.0  16.0    0.0  160.0    6.0    0.0  ...
a.j.feeley/2504566     2004    11.0   0.0    0.0    0.0    0.0  356.0  ...
                       2001     0.0   0.0    0.0    0.0    0.0   14.0  ...
...                             ...   ...    ...    ...    ...    ...  ...
zeronflemister/2504039 2002     0.0  10.0    2.0  146.0   15.0    0.0  ...
                       2003     0.0   9.0    0.0   89.0   12.0    0.0  ...
zoladavis/2500341      1999     0.0   2.0    0.0   38.0    6.0    0.0  ...
zurlontipton/2550407   2014     6.0   6.0    1.0   68.0    6.0    0.0  ...
                       2015    10.0   5.0    0.0   57.0   10.0    0.0  ...

                             CrushY  CrushGP  CrecA  CrecTD  CrecY  CrecGP  \
playerID               year
'omarellison/2500540   1995       0      0.0    0.0     0.0    0.0     0.0
                       1996       0      0.0    1.0     0.0    6.0     2.0
a.j.derby/2552580      2016       0      0.0    0.0     0.0    0.0     0.0
a.j.feeley/2504566     2004       6      6.0    0.0     0.0    0.0     0.0
                       2001       0      0.0    0.0     0.0    0.0     0.0
...                             ...      ...    ...     ...    ...     ...
zeronflemister/2504039 2002       0      0.0   19.0     2.0  204.0    21.0
                       2003       0      0.0   29.0     4.0  350.0    36.0
zoladavis/2500341      1999       0      0.0    0.0     0.0    0.0     0.0
zurlontipton/2550407   2014       0      0.0    0.0     0.0    0.0     0.0
                       2015      18      6.0    6.0     1.0   68.0     6.0

                             CpassA  CpassTD  CpassY  CpassGP
playerID               year
'omarellison/2500540   1995     0.0      0.0     0.0      0.0
                       1996     0.0      0.0     0.0      0.0
a.j.derby/2552580      2016     0.0      0.0     0.0      0.0
a.j.feeley/2504566     2004   168.0      8.0  1154.0      7.0
                       2001     0.0      0.0     0.0      0.0
...                             ...      ...     ...      ...
zeronflemister/2504039 2002     0.0      0.0     0.0      0.0
                       2003     0.0      0.0     0.0      0.0
zoladavis/2500341      1999     0.0      0.0     0.0      0.0
zurlontipton/2550407   2014     0.0      0.0     0.0      0.0
                       2015     0.0      0.0     0.0      0.0

[11207 rows x 25 columns]

In [113]:
career = career[columnListA]
career

                             CrushA  CrushTD  CrushY  CrushGP  CrecA  CrecTD  \
playerID               year
'omarellison/2500540   1995       0        0       0      0.0    0.0     0.0
                       1996       0        0       0      0.0    1.0     0.0
a.j.derby/2552580      2016       0        0       0      0.0    0.0     0.0
a.j.feeley/2504566     2004      12        0       6      6.0    0.0     0.0
                       2001       0        0       0      0.0    0.0     0.0
...                             ...      ...     ...      ...    ...     ...
zeronflemister/2504039 2002       0        0       0      0.0   19.0     2.0
                       2003       0        0       0      0.0   29.0     4.0
zoladavis/2500341      1999       0        0       0      0.0    0.0     0.0
zurlontipton/2550407   2014       0        0       0      0.0    0.0     0.0
                       2015      10        0      18      6.0    6.0     1.0

                             CrecY  CrecGP  CpassA  CpassTD  CpassY  CpassGP
playerID               year
'omarellison/2500540   1995    0.0     0.0     0.0      0.0     0.0      0.0
                       1996    6.0     2.0     0.0      0.0     0.0      0.0
a.j.derby/2552580      2016    0.0     0.0     0.0      0.0     0.0      0.0
a.j.feeley/2504566     2004    0.0     0.0   168.0      8.0  1154.0      7.0
                       2001    0.0     0.0     0.0      0.0     0.0      0.0
...                            ...     ...     ...      ...     ...      ...
zeronflemister/2504039 2002  204.0    21.0     0.0      0.0     0.0      0.0
                       2003  350.0    36.0     0.0      0.0     0.0      0.0
zoladavis/2500341      1999    0.0     0.0     0.0      0.0     0.0      0.0
zurlontipton/2550407   2014    0.0     0.0     0.0      0.0     0.0      0.0
                       2015   68.0     6.0     0.0      0.0     0.0      0.0

[11207 rows x 12 columns]

In [114]:
career.to_csv('data_prepro/career.csv')